body {
    background-color: #000000;
}

#main_container {
    /*サイズと位置*/
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

    /*デザイン*/
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 10px 10px 5px #888888;
}

header {
    text-align: center;
}

.obfuscated {
    display: block;
}

marquee {
    font-weight: 900;
    color: #00ff00;
}

h1 {
    font-family: 'Noto Serif JP';
    font-weight: 900;
    display: inline;
}

h2 {
    font-family: 'Noto Serif JP';
    font-weight: 700;
}

h3 {
    font-family: 'Noto Serif JP';
    font-weight: 600;
}

input {
    max-width: 30em;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

#uploads_list {
    display: flex;
    flex-direction: column-reverse;
}

.upload {
    /*サイズと位置*/
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    /*デザイン*/
    border: 2px solid #cccccc;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px #80006c;
}

@media screen and (min-width:886px) {
    marquee {
        font-size: 16px;
    }

    .obfuscated {
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    .upload {
        font-size: 16px;
    }
}

@media screen and (max-width:885px) {
    marquee {
        font-size: 9px;
    }

    .obfuscated {
        font-size: 9px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 18px;
    }

    .upload {
        font-size: 9px;
    }
}