body {
    background-color: #000000;
}

#main_container {
    /*サイズと位置*/
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

    /*デザイン*/
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 10px 10px 5px #888888;
}

h1 {
    font-family: 'Noto Serif JP';
    font-weight: 900;
    text-align: center;
}

h2 {
    font-family: 'Noto Serif JP';
    font-weight: 600;
}

h3 {
    font-family: 'Noto Serif JP';
    font-weight: 900;
}

input {
    max-width: 30em;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.uploads {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: red;
}

@media screen and (min-width:886px) {
    h1 {
        font-size: 48px;
    }
}