#main_container {
    /*サイズと位置*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    /*デザイン*/
    background-color: aqua;
}

h1 {
    text-align: center;
}

input {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.uploads {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: red;
}

@media screen and (min-width:886px) {
    h1 {
        font-size: 48px;
    }
}